<launch>
 <arg name="bag" default=""/>
 <include file="$(find lane_detector)/launch/video.launch">
   <arg name="bag" value="$(arg bag)"/>
 </include>

 <node name="detector" pkg="lane_detector" type="lane_detector" output="screen">
   <remap from="/camera/image" to="/camera/image_raw"/>
 </node>

 <node name="processed_view" pkg="rqt_image_view" type="rqt_image_view" args="/detector/processed_image">
 </node>
</launch>
