<launch>
 <include file="$(find lane_detector)/launch/video.launch">
 </include>

 <node name="detector" pkg="lane_detector" type="lane_detector" output="screen">
 <remap from="/camera/image" to="/camera/image_raw"/>
 </node>

 <node name="view" pkg="image_view" type="image_view">
 <remap from="image" to="processed_image"/>
 </node>
</launch>
