<launch>
   <arg name="bag" default=""/>
   <!-- launch video stream -->
   <include if="$(eval bag == '')" file="$(find video_stream_opencv)/launch/camera.launch" >
        <!-- node name and ros graph name -->
        <arg name="camera_name" value="camera" />
        <arg name="video_stream_provider" value="$(find lane_detector)/video/solidWhiteRight.mp4" />
        <!-- throttling the querying of frames to -->
        <arg name="fps" value="10" />
        <!-- setting frame_id -->
        <arg name="frame_id" value="cam" />
        <!-- camera info loading, take care as it needs the "file:///" at the start , e.g.:
        "file:///$(find your_camera_package)/config/your_camera.yaml" -->
        <arg name="camera_info_url" value="" />
        <!-- flip the image horizontally (mirror it) -->
        <arg name="flip_horizontal" value="false" />
        <!-- flip the image vertically -->
        <arg name="flip_vertical" value="false" />
        <!-- visualize on an image_view window the stream generated -->
        <arg name="visualize" value="false" />
   </include>
   <node if="$(eval bag !='')" pkg="rosbag" name="bagplayer" type="play" args="$(arg bag) -l"/>
   <node name="camera_view" pkg="rqt_image_view" type="rqt_image_view" args="/camera/image_raw">
   </node>
</launch>
