<launch>

    <node name="mytalker" pkg="chat" type="talker_node" output="screen" />

    <node name="mylistener" pkg="chat" type="listener_node" output="screen" />

</launch>

<!--
name - имя узла , может быть произвольным
pkg - имя пакета  (catkin_create_pkg )
type - имя исполняемого файла (add_executable(имя ...))
output - управление выводом в консоль (screen или log )    -->
